<script type="text/javascript">
  window.images = {
    logo_image_with_writing: "<%= image_url('robinhood-logo-with-writing.png') %>",
    intro_image: "<%= image_url('robinhood-preview.png') %>", 
    login_image: "<%= image_url('log-in-image.png') %>",
    signup_logo_image: "<%= image_url('rh_logo2.png') %>",
    ellipsis_image: "<%= image_url('ellipsis.png') %>",
    nav_bar_logo_image: "<%= image_url('rh_logo.png')  %>",
    stock_news_image: "<%= image_url('stock_image_2.jpeg') %>",
    donut_chart_image: "<%= image_url('donut_chart.png') %>"
  }
</script>
<div id="root">
  <h1>SnoopMoney</h1>
</div>
